# MongoDB connection string
# Examples:
# Local: mongodb://127.0.0.1:27017/task-manager
# Atlas: mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.mongodb.net/task-manager?retryWrites=true&w=majority
MONGO_URI=
